<!-- Navbar -->
<nav *ngIf="!hideNavbar" class="navbar navbar-expand-lg navbar-dark" style="background-color: #059669;">
  <div class="container">
    <a class="navbar-brand fw-bold d-flex align-items-center gap-2" href="#">
      <img src="https://res.cloudinary.com/dt1tu6lmd/image/upload/v1751004620/Screenshot_2025-06-27_113746_ylkfjc.png"
        alt="Tastely Logo" width="42" height="42" class="rounded-circle shadow-sm border-white">
      <span class="font-logo">Tastely</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active px-3" routerLink="">
          <i class="fas fa-home me-1"></i> Home
        </a>

      <a class="nav-link px-3" routerLink="userdishes" style="color: white !important;">
        <i class="fas fa-users me-1"></i> Community Recipes
      </a>

        <a class="nav-link px-3" routerLink="favorites" style="color: white !important;">
          <i class="fas fa-heart me-1"></i> Favorites
        </a>
        <a class="nav-link px-3" routerLink="contact" style="color: white !important;">
          <i class="fas fa-envelope me-1"></i> Contact
        </a>
        <div class="nav-item">
          <a class="nav-link px-3" (click)="logout()" style="color: white !important; cursor: pointer;">
            <i class="fas fa-sign-out-alt me-1"></i> Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>


<!-- AI Chatbot Script -->
<div id="jotform-chatbot-container"></div>

<router-outlet></router-outlet>